
<p id="notice"><%= notice %></p>
<h2>Welcome to Workstack Capacity Planner</h2>

<% if current_user %>
  Logged in as <%= current_user.email %>.
  <p>
    <ul>
      <li><%= link_to "Work Packages", work_packages_path %></li>
      <li><%= link_to "Release Gates", release_gates_path %></li>
      <li><%= link_to "Markets", markets_path %></li>
      <li><%= link_to "Releases", releases_path %></li>
    </ul>
  </p>
  <%= link_to "Log Out", logout_path %>
<% else %>
  <%= link_to "Log In", login_path %>
<% end %>
