
<% if current_user %>
  Logged in as <%= current_user.email %>.
  <%= link_to "Log Out", logout_path %>
<% else %>
  <%= link_to "Log In", login_path %>
<% end %>
<p id="notice"><%= notice %></p>
<h2>Welcome to Workstack Capacity Planner</h2>
<p>
  The time is now: <%= Time.now %> and counting down!
</p>
