<p id="notice"><%= notice %></p>

<h1>Complexities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @complexities.each do |complexity| %>
      <tr>
        <td><%= complexity.name %></td>
        <td><%= complexity.code %></td>
        <td><%= link_to 'Show', complexity %></td>
        <td><%= link_to 'Edit', edit_complexity_path(complexity) %></td>
        <td><%= link_to 'Destroy', complexity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Complexity', new_complexity_path %>
