<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @complexity.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @complexity.code %>
</p>

<%= link_to 'Edit', edit_complexity_path(@complexity) %> |
<%= link_to 'Back', complexities_path %>
