<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @work_package.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @work_package.code %>
</p>

<p>
  <strong>Target release date:</strong>
  <%= @work_package.target_release_date %>
</p>

<p>
  <strong>Actual release date:</strong>
  <%= @work_package.actual_release_date %>
</p>

<p>
  <strong>Release gate:</strong>
  <%= @work_package.release_gate.code %>
</p>

<p>
  <strong>Market:</strong>
  <%= @work_package.market.name %>
</p>

<%= link_to 'Edit', edit_work_package_path(@work_package) %> |
<%= link_to 'Back', work_packages_path %>
