<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @resource.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @resource.code %>
</p>

<p>
  <strong>Number:</strong>
  <%= @resource.capacity %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @resource.comments %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
