<p id="notice"><%= notice %></p>

<h1>Release Gates</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @release_gates.each do |release_gate| %>
      <tr>
        <td><%= release_gate.code %></td>
        <td><%= release_gate.description %></td>
        <td><%= link_to 'Show', release_gate %></td>
        <td><%= link_to 'Edit', edit_release_gate_path(release_gate) %></td>
        <td><%= link_to 'Destroy', release_gate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Release Gate', new_release_gate_path %>
